<h1>Blake Alexander's Satic Page</h1>
<p>This page is an example of a static page that was made by Blake Alexander for Lab 4. This page was made by running the "rails generate controller StaticPages Home" command</p>
